.contact {
    max-width: 1300px;
    min-height: calc(100vh - 4.75rem);
    padding: 0 3rem;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1.1fr;
    gap: 3rem;
    background: var(--bg);
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.status-card,
.email-card,
.social-links a,
.contact-form {
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: 12px;
}

/* Status */

.status-card {
    padding: 1.8rem;
}

.status-card h3 {
    color: #00d084;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.status-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #1c2b4a;
}

.status-item:last-child {
    border: none;
}

.status-item span {
    color: #7f8da9;
    text-transform: uppercase;
    font-size: .85rem;
}

.status-item p {
    color: #fff;
    font-weight: 500;
}

/* Email */

.email-card {
    padding: 1.5rem;
}

.email-card span {
    display: block;
    color: #7f8da9;
    text-transform: uppercase;
    font-size: .8rem;
    margin-bottom: .5rem;
}

.email-card p {
    color: #fff;
    font-size: 1rem;
}

/* Social */

.social-links {
    display: flex;
    gap: 1rem;
}

.social-links a {
    width: 65px;
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;

    transition: .3s;
}

.social-links a:hover {
    background: #1b2743;
    color: #5da6ff;
}

/* ========================= */
/* Right Side */
/* ========================= */

.contact-form {
    padding: 2rem;
}

.contact-form h3 {
    color: #fff;
    margin-bottom: 2rem;
}

.input-row {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.input-row input {
    flex: 1;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background: #09101f;
    border: 1px solid #1c2b4a;
    border-radius: 8px;
    color: #fff;
    padding: 1rem;
    font-size: .95rem;
    outline: none;
}

.contact-form textarea {
    resize: none;
    margin-bottom: 1.5rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #5da6ff;
}

.contact-form button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    background: #00b26f;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.contact-form button:hover {
    background: #009d61;
}

/* ========================= */
/* Responsive */
/* ========================= */

@media (max-width: 900px) {

    .contact {
        grid-template-columns: 1fr;
    }

    .input-row {
        flex-direction: column;
    }

}